<section class="holder">
    <section>
        <h1 class="logo">SafeDime</h1>
        <p class="motto">Track Small, Save Big</p>
    </section>
    <section class="buttons">
        <%= link_to 'LOG IN', new_user_session_path, class: 'button login' %>
        <%= link_to 'SIGN UP', new_user_registration_path, class: 'button signup' %>
    </section>
</section>